:root {
  --primary-bg-color: #222222;
  --primary-bg-color-lighter: #323232;
  --secondary-bg-color: #354052;
  --selected-bg-color: #414141;
  --form-control-color: #397739;
  --selected-control-color: #397577;
}