:root {
  --primary-bg-color: rgb(34, 34, 34);
  --primary-bg-color-lighter: rgb(50, 50, 50);
  --secondary-bg-color: rgb(53, 64, 82);
  --selected-bg-color: rgb(65, 65, 65);
  --form-control-color: rgb(57, 119, 57);
  --selected-control-color: rgb(57, 117, 119);
}