
/* Main Container Styling */
.flex-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.left-sidebar {
  height: 100%;
  width: 20%;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.display-container {
  height: 100%;
  width: 70%;
  background-color: green;
  position: relative;
}

.right-sidebar {
  height: 100%;
  width: 10%;
  background-color:var(--secondary-bg-color);
}

.left-sidebar-content {
  height: 97.5%;
  width: 100%;
}

.left-sidebar-pannel-container {
  height: 100%;
  width: 100%;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
}

/* Sub Container Styling */
.editor-HUD-container {
  z-index: 1;
  height: min-content;
  width: auto;
  position: absolute;
  padding: 0;
  bottom: 10px;
  right: 17.5px;
  display: flex;
  flex-direction: column;  
}

.editor-action-button-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: fit-content;
  width: fit-content;
  height: fit-content;
  width: fit-content;
  padding: 2%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  text-align: center;
}

.editor-HUD-text-container {
  padding: 0;
  height: fit-content;
}


/* Gloabl Styles */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
}


.material-symbols-rounded {
  pointer-events: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}